{% extends "base.html" %}
{% block body %}
<center>
<h2>{{u.username}}</h2>
<hr>
Contral Panel<br>
<a href="/user/changepass/">ChangePassword</a>
<hr>
<table>
<tr>
<tr><td>Problem Solved:</td><td>{{user.solved}}</td></tr>
<tr><td>Submissions:</td><td>{{user.submit}}</td></tr>
<tr><td>Accepted:</td><td>{{user.accept}}</td></tr>
</table>
</center>


<hr>
List of solved Problems
{% for x in solved_list %}
<a href = "/problem/{{x}}">{{x}}</a>&nbsp&nbsp

{% endfor %}
<hr>
List of Submit BUT unsolved Problems
{% for x in unsolved_list %}
<a href = "/problem/{{x}}">{{x}}</a>&nbsp&nbsp
{% endfor %}
<hr>

{% endblock %}
