{% extends "base.html" %}
{% block login %}{% endblock %}
{% block body %}
<center>
	<h2>Welcome to Register</h2>
	<hr>
	<form action="" method="post">
	{% csrf_token %}
		Username:<input type="text" name="username" />
		<br>
		Password:<input type="password" name="password" />
		<br>
		Password Confirmation:<input type="password" name="password2" />
		<br>
		E-mail:<input type="email" name="email" />
		<br>
		<input type="submit" value="Submit" />
		<input type="reset" value="Reset" />
	</form>
{% endblock %}
</center>
