{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block body %}
{% block foo %}{% endblock %}
{% block login %}{% endblock %}
{% block sub %}{% endblock %}
<html><head><meta http-equiv="Pragma" content="no-cache"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="Content-Language" content="en-US"><title>Frequently Asked Questions Answered</title><link rel=stylesheet href='poj.css' type='text/css'><link rel='shortcut icon' href='poj.ico'><link rel='icon' href='poj.gif' type='image/gif'><script src='poj.js' language='javascript'></script><style>            div.canvas {
                 font-size: 12pt;
                 padding: 1em;
                 width: 50em;
                 max-width: 1000px;
            }
            div.multicol {
                column-count: 2;
                column-gap: 2em;
                -moz-column-count: 2;
                -moz-column-gap: 2em;
                -webkit-column-count: 2;
                -webkit-column-gap: 2em;
            }
            h1.title {
                text-align: center;
                font-family: sans-serif;
                font-weight: bold;
                font-size: 2em;
                line-height: 1.5em;
                color: black;
            }
            h2.section {
                font-family: sans-serif;
                font-weight: bold;
                font-size: 1.5em;
                line-height: 1.5em;
                color: black;
            }
            h3.subsection {
                font-family: sans-serif;
                font-weight: bold;
                font-size: 1.2em;
                line-height: 1.5em;
                color: black;
            }
            h4.author {
                font-family: serif;
                font-weight: normal;
                font-size: 1em;
                line-height: 1.5em;
                text-align: center;
                color: black;
            }
            p.par {
                font-family: serif;
                font-weight: normal;
                color: black;
                text-indent: 1em;
                line-height: 1.5em;
                margin-bottom: 1.5em;
            }
            p.firstpar { text-indent: 0em; }
            pre {
                font-family: monospace;
                font-weight: normal;
                text-align: left;
            }
            div.center { text-align: center; }
            div.center table {
                margin-left: auto;
                margin-right: auto;
            }
            table.booktabs {
                border-top: medium solid;
                border-left: none;
                border-right: none;
                border-bottom: medium solid;
                border-color: black;
                border-collapse: collapse;
                margin-top: 2em;
                margin-bottom: 2em;
                empty-cells: show;
                font-family: serif;
            }
            table.booktabs th {
                border-bottom: thin solid;
                padding: 1ex;
                font-weight: bold;
                text-align: center;
            }
            table.booktabs td {
                border-bottom: thin dashed;
                padding: 1ex;
                max-width: 30em;
                text-align: center;
                font-weight: normal;
            }
            table.booktabs td.code {
                white-space: nowrap;
                text-align: left;
            }
            table.booktabs td.text {
                text-align: left;
                line-height: 1.5em;
            }
</style></head><body lang="en-US" leftmargin=5 link=blue alink=blue vlink=blue onkeydown=KeyDown(event)><a name=top></a><TABLE style='BORDER-COLLAPSE: collapse' borderColor=#ffffff width=100% border=1><TBODY><TR><TD align=CENTER colSpan=5><table class=h1 cellpadding=0><tr><td width=25% align=left>
	
    <tr>
        <td>
            <div class="canvas">
                <h1 class="title">Frequently Asked Questions Answered</h1>
                <h4 class="author">POJ Administrative Staff</h4>
                <h2 class="section">Composing solutions</h2>
                <h3 class="subsection" id="Common_guidelines_for_composing_solutions">Common guidelines for composing solutions</h3>
                <div class="multicol">
                    <p class="par firstpar">
                    The judge system challenges you with thousands of programming problems which demand diverse ideas and techniques to solve.  Nevertheless, you must write the solutions in accordance with certain common guidelines so that they are judged as intended.
                    </p>
                    <p class="par">
                    <strong>Guideline 1&emsp;Do exactly what the problems demand.</strong>  A mistake made by some newcomers is to print some friendly-looking prompt messages such as &ldquo;Please input an integer&rdquo; which the problems do not ask for.  Another example of violating this guideline is to leave debug information in the output.  Our judge system is automated.  There is no human involvement in judging the solutions.  Neither the administrators nor the developers will read any output by the solutions in normal circumstances.  Hence, unrequested prompt messages are virtually useless.  Worse still, undesired output may mess with the jugding process, which in all probability will lead to rejection of the solution, even though it is logically correct.
                    </p>
                    <p class="par">
                    <strong>Guideline 2&emsp;Access only the standard input, the standard output and the memory.</strong>  Your solution must always read the input data from the standard input and write the output data to the standard output.  The only location that your solution can utilize for storage is the memory.  Access to other resources such as disks and the file system is denied by the judge system.  Any such attempt results in undefined behavior.
                    </p>
                    <p class="par">
                    <strong>Guideline 3&emsp;Write standard-conforming code.</strong>  We promote the use of standard-conforming code.  Certain compilers offer vendor-specific features beyond language standards.  We have made efforts to disable these features to advocate standard-compliant programming practices.  Solutions using these features are likely to fail compilation.
                    </p>
                </div>
                <h3 class="subsection" id="Language-specific_requirements_and_examples">Language-specific requirements and examples</h3>
                <div class="multicol">
                    <p class="par firstpar">
                    The judge system currently services solutions written in C, C++, Pascal, Java and Fortran.  Details about the compilers used and supported language standards are listed in the table below.  A sample solution to <a href="problem?id=1000">Problem 1000</a> in each language is available in the Appendix.
                    </p>
                </div>
                <div class="center">
                    <table class="booktabs">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Compiler(s)</th>
                                <th>Standard</th>
                                <th>Remark(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>C</td>
                                <td>MS VC++ 2008 Express (&ldquo;<tt>C</tt>&rdquo;) and MinGW GCC 4.4.0 (&ldquo;<tt>GCC</tt>&rdquo;)</td>
                                <td>C99</td>
                                <td style="width: 25em;" class="text">
                                    <ul>
                                        <li>The macro <code>ONLINE_JUDGE</code> is defined.</li>
                                        <li>The C99 implementation of GCC 4.4.0 is not considered feature-complete. In particular, support for variable-length arrays and intrinsic complex and imaginary types is labeled &ldquo;broken&rdquo;.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>C++</td>
                                <td>MS VC++ 2008 Express (&ldquo;<tt>C++</tt>&rdquo;) and MinGW GCC 4.4.0 (&ldquo;<tt>G++</tt>&rdquo;)</td>
                                <td>C++98</td>
                                <td style="width: 25em;" class="text">
                                    <ul>
                                        <li>The macro <code>ONLINE_JUDGE</code> is defined.</li>
                                        <li>Currently there is no plan to enable the experimental C++0x features before the new C++ standard is officially published and relatively well-supported.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td>JDK 6 (&ldquo;<tt>Java</tt>&rdquo;)</td>
                                <td></td>
                                <td style="width: 25em;" class="text">
                                    <ul>
                                        <li>The system property <code>ONLINE_JUDGE</code> is set.</li>
                                        <li>You should write a class named <code>Main</code> with public or package visibility.  This <code>Main</code> class should contain the entry-point <code>main</code> method.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Pascal</td>
                                <td>FreePascal 2.2.0 (&ldquo;<tt>Pascal</tt>&rdquo;)</td>
                                <td>FreePascal dialect</td>
                                <td style="width: 25em;" class="text">
                                    <ul>
                                        <li>The macro <code>ONLINE_JUDGE</code> is defined.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Fortran</td>
                                <td>MinGW GCC 4.4.0 (&ldquo;<tt>Fortran</tt>&rdquo;)</td>
                                <td>Fortran 95</td>
                                <td style="width: 25em;" class="text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="section">The judging process</h2>
                <h3 class="subsection" id="Access_keys_in_the_solution_submission_page">Access keys in the solution submission page</h3>
                <div class="center">
                    <table class="booktabs">
                        <thead>
                            <tr>
                                <th>Access key</th>
                                <th>Page element</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alt+L</td>
                                <td><em>Language</em> drop-down list</td>
                            </tr>
                            <tr>
                                <td>Alt+P</td>
                                <td><em>Problem ID</em> field</td>
                            </tr>
                            <tr>
                                <td>Alt+S</td>
                                <td><em>Submit</em> button</td>
                            </tr>
                            <tr>
                                <td>Alt+U</td>
                                <td>
                                    <em>User ID</em> field<br>
                                    (available only after you have logged in)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 class="subsection" id="The_judging_process_in_a_nutshell">The judging process in a nutshell</h3>
                <div class="multicol">
                    <p class="par firstpar">
                    The judging process starts with the judge system saving a submitted solution to a source file named <tt>Main</tt> with an appropriate extension.  Next a designated compiler is invoked to compile the saved solution.  If compilation succeeds, the judge system proceeds to run the solution on each test case available.  The judging process is designed to <em>reject-fast</em>&mdash;once the judge system has spotted evidence to reject the solution, it exits the judging process and responds immediately.
                    </p>
                </div>
                <h3 class="subsection" id="Verdicts_of_the_judge_system">Verdicts of the judge system</h3>
                <div class="center">
                    <table class="booktabs">
                        <thead>
                            <tr>
                                <th>Verdict</th>
                                <th>Abbreviation</th>
                                <th>Indication</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Accepted</td>
                                <td>AC</td>
                                <td class="text">
                                    The solution has produced output that the judge system or a checker program (commonly referred to as a <em>special judge</em>) accepts as correct.
                                </td>
                            </tr>
                            <tr>
                                <td>Presentation Error</td>
                                <td>PE</td>
                                <td class="text">
                                    The solution has produced output that is correct in content but incorrect in format.
                                </td>
                            </tr>
                            <tr>
                                <td>Time Limit Exceeded</td>
                                <td>TLE</td>
                                <td class="text">
                                    The solution has run for longer time than permitted.  This means either the time spent on all test cases exceeds the overall limit or that spent on a single test case exceeds the per-case limit.&nbsp;Note that time limits for solutions in Java are tripled. These solutions are also allowed an extra 110 ms for each test case.
                                </td>
                            </tr>
                            <tr>
                                <td>Memory Limit Exceeded</td>
                                <td>MLE</td>
                                <td class="text">
                                    The solution has consumed more memory than permitted.
                                </td>
                            </tr>
                            <tr>
                                <td>Wrong Answer</td>
                                <td>WA</td>
                                <td class="text">
                                    The solution has not produced the desired output.
                                </td>
                            </tr>
                            <tr>
                                <td>Runtime Error</td>
                                <td>RE</td>
                                <td class="text">
                                    The solution has caused an unhandled exception (as defined by the runtime environment) during execution.
                                </td>
                            </tr>
                            <tr>
                                <td>Output Limit Exceeded</td>
                                <td>OLE</td>
                                <td class="text">
                                    The solution has produced excessive output.
                                </td>
                            </tr>
                            <tr>
                                <td>Compile Error</td>
                                <td>CE</td>
                                <td class="text">
                                    The solution cannot be compiled into any program runnable by the judge system.
                                </td>
                            </tr>
                            <tr>
                                <td>System Error</td>
                                <td></td>
                                <td class="text">
                                    The judge system has failed to run the solution.
                                </td>
                            </tr>
                            <tr>
                                <td>Validator Error</td>
                                <td></td>
                                <td class="text">
                                    The checker program has exhibited abnormal behavior while validating the output produced by the solution.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="section">Other questions</h2>
                <h3 class="subsection" id="ISO_C-conformant_printf_format_specifiers">ISO C-conformant <code>printf</code> format specifiers</h3>
                <div class="multicol">
                    <p class="par firstpar">
                    Prior to the compiler upgrade in May 2009, we serviced C and C++ submissions using GCC 3.4.2. That version of GCC relies on the old MS VC++ 6 runtime library, which does not support the <code>%lld</code> and <code>%llu</code> specifiers for signed and unsigned <code>long long</code> types but allows the standard-incompliant <code>%lf</code> and <code>%lg</code> specifiers for floating-point types. The new GCC 4.4.0 comes with its own ISO C-conformant implementation of the <code>printf</code> function. Now you can use <code>%lld</code> and <code>%llu</code> with either C/C++ compiler, but <code>%lf</code> and <code>%lg</code> only work with MS VC++ 2008 Express. As a rule of thumb, you should always use the <code>%f</code> and <code>%g</code> specifiers instead for floating-point types.
                    </p>
                </div>
                <h3 class="subsection" id="Unanswered_questions">Unanswered questions</h3>
                <div class="multicol">
                    <p class="par firstpar">
                    If you have questions unanswered in this page, feel free to post them on the web board or write to the administrators.
                    </p>
                </div>
                <h2 class="section">Appendix</h2>
                <h3 class="subsection">Sample solutions to <a href="problem?id=1000">Problem 1000</a></h3>
                <div class="center">
                    <table class="booktabs">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Sample solution to <a href="problem?id=1000">Problem 1000</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>C</td>
                                <td class="code">
                                    <pre>#include &lt;stdio.h&gt;

int main(void) {
    int a, b;
    scanf("%d%d", &amp;a, &amp;b);
    printf("%d", a + b);
    return 0;
}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>C++</td>
                                <td class="code">
                                    <pre>#include &lt;iostream&gt;

using namespace std;

int main(void) {
    int a, b;
    cin &gt;&gt; a &gt;&gt; b;
    cout &lt;&lt; a + b;
    return 0;
}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td class="code">
                                    <pre>import java.util.Scanner;

public class Main {
    public static void main(String[] args) {
        Scanner in = new Scanner(System.in);
        int a = in.nextInt();
        int b = in.nextInt();
        System.out.println(a + b);
    }
}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>Pascal</td>
                                <td class="code">
                                    <pre>program p1000(Input, Output);
var
    a, b: integer;

begin
    read(a, b);
    write(a + b)
end.</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>Fortran</td>
                                <td class="code">
                                    <pre>      PROGRAM P1000

      IMPLICIT NONE
      INTEGER :: A, B

      READ(*,*) A, B
      WRITE(*, '(I0)') A + B

      END PROGRAM P1000</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
</td></tr></table>

{% endblock %}
