<header><center><font size="20" color="#0000FF">黑龙江大学 OnlineJudge System</font></center></header>

<html>
<head>
	<title>HLJU Online Judge</title>
</head>
<center>

            <a href="/" title="主页"><font size="6">Home</font></a>

            <a href="/contests/" title="比赛"><font size="6">Contests</font></a>

            <a href="/problem/" title="题库"><font size="6">Problems</font></a>

            <a href="/status/" title="状态"><font size="6">Status</font></a>

            <a href="/ranklist/" title="排名"><font size="6">Ranklist</font></a>
       
            <a href="/faq/" title="F.A.Qs"><font size="6" >F.A.Qs </font></a>

</center>
</html> 
