{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block sub %}{% endblock %}
{% block body%}

<center><font size="5px" color="red">ACM队简介</font></center>

<center>
ACM国际大学生程序设计竞赛（简称ACM/ICPC）是由国际计算机界历史最悠久、最具权威性组织ACM学会主办，<br>是世界上公认的规模最大、水平最高的国际大学生程序设计竞赛，其目的指在使大学生运用计算机来充分展示个人分析问题和<br>
解决问题的能力。ACM崇尚创意、创新，对于当代大学生有着非常强烈的吸引力。比赛题目需要选手具有较强的逻辑思维能力、<br>实际应用能力及创新能力。因历届竞赛都芥蒂了世界各大洲的精英，<br>云集了计算机界的“希望之星”而受到国际各知名大学的重视，并受到全世界各著名计算机公司如Microsoft，IBM<br>等的高度关注，成为世界各国大学生最具影响力的国际级计算机类的赛事，<br>ACM所颁发的获奖证书也为世界各著名计算机公司、各知名大学所认可。<br>
<br>
黑龙江大学ACM队是一支优秀的队伍，一支充满活力与激情的队伍，它满载着光辉与荣誉。<br>我们学校ACM协会最初是几个对程序狂热的人自主成立的，经过这么多年的发展，我们已经具有一定的规模和体系，在黑龙江省赛中已经占据一席地位，<br>我们在省赛，四省赛，亚洲区级别赛事中都获得了优异的成绩。在2011年的亚洲区比赛中，我们的学长就获得了亚洲区铜奖的好成绩<br>
ACM队的队员在程序设计方面几乎始终代表着全院的最高水平。<br>
如果你有意加入这支优秀的队伍，就用你的行动来证明你的优秀吧<br><br>
<font color="red" size="4">Come on, ACMer !!!</font>
</center>
{% endblock %}
