{% extends "base.html" %}
{% block title %}Problem {{problem.title}}{% endblock %}
{% block body %}
	<h3>{{ problem.title }}</h3>
	Total Submissions:  {{ problem.submit }}</br> Accepted: {{ problem.accept }}</br>
	Time Limit: {{ problem.TimeLimit }}s </br> Memory Limit: {{ problem.MemoryLimit }}k</br>
	<font color="blue" ><b>Description:</b></font></br>
	{{ problem.description }}</br>
	<font color="blue" ><b>Input:</b></font></br>
	{{ problem.input }}</br>
	<font color="blue" ><b>Output:</b></font></br>
	{{ problem.output }}</br>
	<font color="blue" ><b>Sample Input:</b></font></br>
	{{ problem.SampleInput }}</br>
	<font color="blue" ><b>Sample Output:</b></font></br>
	{{ problem.SampleOutput }}</br>
	{% if problem.hint %}
		<body>Hint:</body></br>
		{{ probme.hint }}</br>
	{% endif %}
    Source:</br>
    {{ problem.source }}</br></br>
    
{% endblock %}
