{% extends "base.html" %}
{% block title %}Problem List{% endblock %}

{% block body %}
	<table border="0" >
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Ratio</th>
		</tr>
		
		
		{% for x in problems %}
			{{x.id}}  {{x.title}}</br>
		{% endfor %}
		
		
		{% for x in problems %}
			{% if x.useAble %}
			<tr>
				<td><a href="/problem/{{ x.id }}/" >{{ x.id }}</td>
				<td><a href="/problem/{{ x.id }}/" >{{ x.title }}</td>
				<td>{{ x.ratio|floatformat:2 }}({{ x.accept }}/{{ x.submit}})</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}