{% extends "base.html" %}
{% block title %}Problem {{problem.title}}{% endblock %}

{% block body %}
	<center>
	{{ problem.title }}</br>
	Time Limit {{ problem.TimeLimit }}s  Memory Limit {{ problem.MemoryLimit }}k</br>
	Description:</br>
	{{ problem.description }}</br>
	Input:</br>
	{{ problem.input }}</br>
	Output:</br>
	{{ problem.output }}</br>
	Sample Input:</br>
	{{ problem.SampleInput }}</br>
	Sample Output:</br>
	{{ problem.SampleOutput }}</br>
	{% if problem.hint %}
		<body>Hint:</body></br>
		{{ probme.hint }}</br>
	{% endif %}
    Source:</br>
    {{ problem.source }}</br></br>
    
    {% if request.session.user_id %}
	    <form enctype="multipart/form-data" method="post" action="/submit/{{ problem.id }}/">
		{% csrf_token %}
			<table>
	    	{% for field in form %}
	      		{{ field.label_tag }}: {{ field }}</br>
	    	{% endfor %} 
	  		</table>
			<input class="submit" type="submit" value="Submit"/></br>
		</form>
    {% else %}
   	 	<font size="6px" color="red" >If you want to submit your code</br> please log first.</font>
    {% endif %}
    
	</center>
{% endblock %}
