{% extends "base.html" %}
{% block title %}Problem {{problem.title}}{% endblock %}

{% block body %}
	<center>
	{{ problem.title }}</br>
	Time Limit {{ problem.TimeLimit }}s  Memory Limit {{ problem.MemoryLimit }}k</br>
	Description:</br>
	{{ problem.description }}</br>
	Input:</br>
	{{ problem.input }}</br>
	Output:</br>
	{{ problem.output }}</br>
	Sample Input:</br>
	{{ problem.SampleInput }}</br>
	Sample Output:</br>
	{{ problem.SampleOutput }}</br>
	{% if problem.hint %}
		<body>Hint:</body></br>
		{{ probme.hint }}</br>
	{% endif %}
    Source:</br>
    {{ problem.source }}</br></br>
	

	<form action="/submit/{{ problem.id }}/" method="post">
	{% csrf_token %}
		Language:
        	<select name="programTypeId">
            	<option value="1"
                	 selected="true">GNU C++ 4.7</option>
                <option value="2"
                    				>Microsoft Visual C++ 2010</option>
                <option value="5"
                    				>Java 6</option>
                <option value="7"
                    				>Python 2.7</option>
                <option value="10"
                    				>GNU C 4</option>
                <option value="23"
                    				>Java 7</option>
            </select></br>
		Choose file:
        	<input name="sourceFile" type="file" value=""/></br>
		<input class="submit" type="submit" value="Submit"/></br>
	</form>
	
	</center>

{% endblock %}