{% extends "base.html" %}
{% block title %}Problem List{% endblock %}
{% block sub %}{% endblock %}

{% block body %}
	<table width="100%">
	<th width="5%">ID</th>
	<th width="60%">Title</th>
	<th width="10%">Ratio</th>
	<th width="15%">Source</th>
	<th width="10%"></th>
	
	{% for id in problems %}
	<tr>
	{% if id.UseAble %}
				<td><center><a href="/problem/{{ id.id }}">{{ id.id }}</a></center></td>
				<td><a href="/problem/{{ id.id }}">{{ id.title }}</a></td>
				<td><center>{{ id.ratio|floatformat:2}}({{ id.accept }}/{{ id.submit}})</center></td>
				<td><center>{{ id.source }}</center></td>
	{% endif %}
	</tr>
	{% endfor %}
	</table>
	PAGE:-->
	{% for x in pagenum %}
	<a href = "/problem/page{{x}}">{{x}}</a>&nbsp
	{% endfor %}
	
{% endblock %}
