{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block sub %}{% endblock %}
{% block body %}
	<table width="100%">
	<th width="5%">ID</th>
	<th width="10%">User</th>
	<th width="10%">problemID</th>
	<th width="10%">Result</th>
	<th width="15%">Time</th>
	<th width="15%">Language</th>
	<th width="35%">Submit Time</th>
	
	{% for items in statuslist %}
	<tr>
		<td> <center>{{items.id}} </center></td>
		<td> <center>{{items.user}} </center></td>
		<td> <center>{{items.problemID}} </center></td>
		<td> <center>{{items.result}} </center></td>
		<td> <center>{{items.timeUsed}} </center></td>
		
		{% if items.languageTypeID == 1 %}
			<td> <center> GNU C </center></td>
		{% elif items.languageTypeID == 2 %}
			<td> <center> GNU C++ 4.7 </center></td>
		{% elif items.languageTypeID == 3 %}
			<td> <center> Microsoft Visual C++ 2010 </center></td>
		{% elif items.languageTypeID == 4 %}
			<td> <center> Java </center></td>
		{% endif %}
		
		<td><center>{{items.submitTime}} </center></td>
	</tr>
	{% endfor %}
	</table>
	PAGE:-->
	{% for x in pagenum %}
	<a href = "/status/{{x}}">{{x}}</a>&nbsp
	{% endfor %}
{% endblock %}
